@font-face {
    font-family: Proxima;
    src: url(fonts/prox.otf);
}



body {
    background-color: #111112;
}

.Wbs{
    color: white;
    font-family: "Proxima";
    font-size: small;
    position: absolute;
    bottom: 1%;
}
.text-white {
    color: white;
    font-family: "Proxima";
}

.info {
    background-color: #1e1e1f;
    border-radius: 25px;
    width: 200px;
    height: 500px;
    padding: 10px;
    border: 2px solid #383838;
    margin: 0;

    position: fixed;
    left: 20%;
    top: 7.5%;
}

.Profile{
    width: 75px;
    height: 75px;
    margin-top: 25px;
    border-radius: 50%;
}

.name {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-family: "Proxima";
}

.posision {
    position: absolute;
    left: 45px;
    text-align: center;
    width: 125px;
    color: white;
    font-family: "Proxima";
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #37373e;
    background-color: #29262c;
}

.discord {
    background-color: #29262c;
    border: 1px solid #37373e;
    border-radius: 25px;
    color: white; 
    width: 50%;
    height: 40px;
    display: block;
}

.gmail {
    background-color: #29262c;
    border: 1px solid #37373e;
    border-radius: 25px;
    cursor: pointer; 
    width: 50%;
    height: 40px;

}


.github {
    background-color: #29262c;
    border: 1px solid #37373e;
    border-radius: 25px;
    cursor: pointer; 
    width: 50%;
    height: 40px;

}

.center {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center2 {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center3 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.discordimg {
    width: 30px;
    float: left;
    margin-top: 2px;
    margin-left: 30px;
}

.gmailimg {
    border-radius: 10%;
    width: 30px;
    margin-top: 3.5px;
}

.githubimg{
    border-radius: 50%;
    width: 30px;
    margin-top: 3.5px;
}